kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      containers:
      - name: traefik
        image: traefik:v1.7-alpine
        ports:
        - name: app
          containerPort: 80
        - name: dashboard
          containerPort: 8080
        args:
        - "--api"
        - "--kubernetes"
        - "--logLevel=INFO"
        - "--metrics"
        - "--metrics.prometheus.buckets=0.1,0.3,1.2,5.0"
